{% extends "general/main.html" %} {% load static %} {% load custom_filters %}

<!-- Title -->
{% block title %}Sales Doctor{% endblock %}

<!-- Style -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/sales_doctor.css' %}" />

<style>
  body {
    padding-top: 56px; /* Height of the navbar */
  }
  td,
  th {
    font-size: 90%;
  }
  .grid {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .table-container {
    display: block;
    width: 100%;
    overflow-x: auto;
    margin-left: 35px;
    -webkit-overflow-scrolling: touch;
  }
</style>
{% endblock %}

<!-- Sidebar -->
{% block sidebar %} {% include "_sidebar.html" %}{% endblock %}

<!-- Content -->
{% block content %}
<div class="grid mt-4">
  <h2 class="mb-1 text-center"><b>Sales Doctor</b></h2>

  <div class="ml-5">{% include "_search.html" %}</div>

  {% if product_data %} {% if status %}
  <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th rowspan="2"><small>№</small></th>
          <th rowspan="2"><small>Name</small></th>
          {% for warehouse in warehouse_names %} {% if warehouse == "Основной склад" %}
          <th class="warehouse-cell-main" rowspan="2">
            <small>{{ warehouse }} <i class="fas fa-warehouse"></i></small>
          </th>
          {% elif warehouse == "Secondary Warehouse 1" %}
          <th class="warehouse-cell-secondary-1" colspan="3">
            <small>{{ warehouse }} <i class="fas fa-warehouse"></i></small>
          </th>
          {% elif warehouse == "Secondary Warehouse 2" %}
          <th class="warehouse-cell-secondary-2" colspan="3">
            <small>{{ warehouse }} <i class="fas fa-warehouse"></i></small>
          </th>
          {% elif warehouse == "Secondary Warehouse 3" %}
          <th class="warehouse-cell-secondary-3" colspan="3">
            <small>{{ warehouse }} <i class="fas fa-warehouse"></i></small>
          </th>
          {% else %}
          <th class="warehouse-cell-secondary" colspan="3">
            <small>{{ warehouse }} <i class="fas fa-warehouse"></i></small>
          </th>
          {% endif %} {% endfor %}
          <th rowspan="2">
            <small>Total Otxod <i class="fas fa-trash-alt"></i></small>
          </th>
        </tr>
        <tr>
          {% for warehouse in warehouse_names %} {% if warehouse != "Основной склад" %}
          <th class="warehouse-cell-secondary">
            <small>Prixod <i class="fas fa-arrow-down symbol-cell prixod"></i></small>
          </th>
          <th class="warehouse-cell-secondary">
            <small>Sold <i class="fas fa-arrow-up symbol-cell sold"></i></small>
          </th>
          <th class="warehouse-cell-secondary">
            <small>Otxod <i class="fas fa-trash-alt symbol-cell ostatok"></i></small>
          </th>
          {% endif %} {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for product_name, data in product_data.items %}
        <tr class="{{ forloop.counter0|divisibleby:2|yesno:'row-even,row-odd' }}">
          <td data-label="No."><small>{{ forloop.counter }}</small></td>
          <td data-label="Product"><small>{{ product_name }}</small></td>
          {% for warehouse in warehouse_names %}
          <!-- with -->
          {% with warehouse_data=data.stores|get_item:warehouse %}
          <!-- checking warehouse -->
          {% if warehouse_data %} {% if warehouse == "Основной склад" %}
          <td class="warehouse-cell-main" data-label="Ostatok">
            <small>{{ warehouse_data.ostatok }}</small>
            <i class="fas fa-arrow-down symbol-cell prixod"></i>
          </td>
          {% else %}
          <td class="warehouse-cell-secondary" data-label="Prixod">
            <small>{{ warehouse_data.prixod }}</small>
            <i class="fas fa-arrow-down symbol-cell prixod"></i>
          </td>
          <td class="warehouse-cell-secondary" data-label="Sold">
            <small>{{ warehouse_data.sold }}</small>
            <i class="fas fa-arrow-up symbol-cell sold"></i>
          </td>
          <td class="warehouse-cell-secondary" data-label="Ostatok">
            <small>{{ warehouse_data.ostatok }}</small>
            <i class="fas fa-trash-alt symbol-cell ostatok"></i>
          </td>
          {% endif %} {% else %}
          <td class="warehouse-cell-secondary" data-label="Ostatok"><small>0</small></td>
          {% if warehouse != "Основной склад" %}
          <td class="warehouse-cell-secondary" data-label="Prixod"><small>0</small></td>
          <td class="warehouse-cell-secondary" data-label="Sold"><small>0</small></td>
          {% endif %} {% endif %} {% endwith %} {% endfor %}
          <td data-label="Total Ostatok">
            <small>{{ data.total_ostatok }}</small>
            <i class="fas fa-trash-alt symbol-cell ostatok"></i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p class="text-center">{{ error }}</p>
</div>
{% endif %} {% else %}
<div class="alert alert-warning shadow-lg mx-5" role="alert">No data available</div>
{% endif %} {% endblock %}

<!-- Script -->
{% block script %}
<script src="{% static 'js/sales_doctor.js' %}"></script>
{% endblock %}
