{# table_body.html #}

{% load custom_filters %}

<tbody>
  {% for product_name, data in product_data.items %}
    <tr class="{{ forloop.counter0|divisibleby:2|yesno:'row-even,row-odd' }}">
      <td data-label="No.">{{ forloop.counter }}</td>
      <td data-label="Product">{{ product_name }}</td>
      {% for warehouse in warehouse_names %}
        {% with warehouse_data=data.stores|get_item:warehouse %}
          {% if warehouse_data %}
            {% if warehouse == "Основной склад" %}
              <td class="warehouse-cell-main" data-label="Ostatok">{{ warehouse_data.ostatok }} <i class="fas fa-arrow-down symbol-cell prixod"></i></td>
            {% else %}
              <td class="warehouse-cell-secondary" data-label="Prixod">{{ warehouse_data.prixod }} <i class="fas fa-arrow-down symbol-cell prixod"></i></td>
              <td class="warehouse-cell-secondary" data-label="Sold">{{ warehouse_data.sold }} <i class="fas fa-arrow-up symbol-cell sold"></i></td>
              <td class="warehouse-cell-secondary" data-label="Ostatok">{{ warehouse_data.ostatok }} <i class="fas fa-trash-alt symbol-cell ostatok"></i></td>
            {% endif %}
          {% else %}
            <td class="warehouse-cell-secondary" data-label="Ostatok">0</td>
            {% if warehouse != "Основной склад" %}
              <td class="warehouse-cell-secondary" data-label="Prixod">0</td>
              <td class="warehouse-cell-secondary" data-label="Sold">0</td>
            {% endif %}
          {% endif %}
        {% endwith %}
      {% endfor %}
      <td data-label="Total Ostatok">{{ data.total_ostatok }} <i class="fas fa-trash-alt symbol-cell ostatok"></i></td>
    </tr>
  {% endfor %}
</tbody>
