{% extends "warehouse/wareHouse.html" %}
{% load static %}

<!-- Title -->
{% block title %}Discounts{% endblock %}

<!-- Style -->
{% block style %}
<style>
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  .card-header {
    background-color: #f8f9fa;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    text-align: center;
  }
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }
  .img-fluid {
    border-radius: 5px;
    max-width: 60%;
    height: auto;
  }
  .container {
    margin-top: 40px;
  }
  h1 {
    margin-bottom: 30px;
    color: #333;
    text-align: center;
  }
  .card-body {
    padding: 20px;
  }
  .image-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 10px;
  }
  .image-container {
    flex: 1;
    text-align: center;
  }
  .image-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .created-at {
    text-align: center;
    font-size: 14px;
    color: #777;
  }
  .btn-back {
    display: block;
    width: 100px;
    margin: 20px auto;
  }
</style>
{% endblock %}

<!-- Content -->
{% block content %}
{% include "warehouse/_navbar.html" %}
<div class="container mt-4">
  <h1>Discount Products</h1>
  {% for event in events %}
  <div class="card">
    <div class="card-header">
      Discount: {{ event.discount }}%
    </div>
    <div class="card-body">
      {% for product in event.products.all %}
      <div class="card-title">{{ product.name }}</div>
      <div class="image-row" style="display: flex;">
        <div class="image-container">
          <div class="image-title">Image 1</div>
          <img src="{{ product.image1.url }}" class="img-fluid" alt="{{ product.name }} Image 1">
        </div>
        <div class="image-container">
          <div class="image-title">Image 2</div>
          <img src="{{ product.image2.url }}" class="img-fluid" alt="{{ product.name }} Image 2">
        </div>
      </div>
      <div class="created-at">
        Created at: {{ event.created_at }}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
  {% if not events %}
  <div class="alert alert-info" role="alert">
    No discount products found.
  </div>
  {% endif %}
  
</div>
{% endblock %}

<!-- Scripts -->
{% block script %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
