<!-- Sidebar -->
<nav class="d-none d-md-block navbar vh-100 position-fixed text-center">
  <div class="position-sticky" style="text-align: center">
    <ul class="nav flex-column justify-content-center">
      <li>
        <a class="navbar-brand" href="{% url 'ship_product' %}"
          ><i class="fa fa-truck" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a class="navbar-brand" href="{% url 'redistribute_product' %}"
          ><i class="fa fa-retweet" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a class="navbar-brand" href="{% url 'forgotten_product' %}"
          ><i class="fa fa-archive" aria-hidden="true"></i
        ></a>
      </li>
      <hr style="width: 100%; margin: 0 auto; border: 1px solid #fff" />
      <li>
        <a class="navbar-brand" href="{% url 'warehouse_list' %}"
          ><i class="fa fa-warehouse" aria-hidden="true"></i
        ></a>
      </li>
      <li>
        <a class="navbar-brand" href="{% url 'warehouse_stores' %}"
          ><i class="fa fa-store" aria-hidden="true"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>
