{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Reviews</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/containers.css' %}">
  <!-- Use your CSS file -->
</head>
<body>
  {% include '_navbar.html' %}
  
  <h1><i class="fas fa-star"></i> Product Reviews</h1>

  <ul>
    {% for product in object_list %}
      <li>
        <a href="{% url 'product_reviews_detail' product.pk %}">{{ product.name }}</a>
      </li>
    {% empty %}
      <li>No products found.</li>
    {% endfor %}
  </ul>

</body>
</html>
