{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Container List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/containers.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    
    {% include '_navbar.html' %}
<div class="container">
    <h1>Orders for User: {{ user.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Container</th>
                <th>Purchase Date</th>
                <th>Volume</th>
                <th>Review Count</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.product.name }}</td>
                <td>{{ sale.container.number }}</td>
                <td>{{ sale.purchase_date }}</td>
                <td>{{ sale.volume }}</td>
                <td>{{ sale.review_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
